{{#if editQuestionForm}}
  <div>
    <h3>edit question form</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="statement">Question</label>
          {{input value=statement id="statement" placeholder=question.statement}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="additionalnotes">additional notes</label>
          {{input value=additionalnotes id="additionalnotes" placeholder=question.additionalnotes}}
        </div>
      </form>
    </div>
    <button {{action 'updateQuestionComponent' question}}>press this</button>
  </div>
{{else}}
  <div>
    <button {{action 'editQuestionFormButton'}}>edit question</button>
  </div>
{{/if}}
