<h2>{{model.question}}</h2>
<h3>Author: {{model.author}}</h3>
<h4>additional notes:</h4>
<h5>{{model.additionalnotes}}</h5>

{{#if editQuestionForm}}
  <div>
    <h3>question form</h3>
    <button {{action 'updateQuesionComponent'}}>press this</button>
  </div>
{{else}}
<div>
  <h3>why doesent this work?</h3>
  <button {{action 'editQuestionFormButton'}}>edit question</button>
</div>
{{/if}}
