<h2>{{model.statement}}</h2>
<h3>Author: {{model.author}}</h3>
<h4>additional notes:</h4>
<h5>{{model.additionalnotes}}</h5>

{{question-update question=model update="update"}}

{{add-answer saveAnswer="saveAnswer" question=model}}

{{#link-to 'index'}}<button>home</button>{{/link-to}}

<h3>Answers</h3>
<hr>
{{answer-tile question=model}}
